<div class="displayContainerHistory">
  <h4>Naissance du Krav Maga</h4>
  <hr />
  <p>
    Imi Lichtenfeld naquit en 1910 à Bratislava en Tchécoslovaquie. Inspiré et
    encouragé par sont père Samuel, ancien acrobate de cirque et lutteur,
    professeur d'éducation physique, détective et instructeur en chef de la
    police départementale, reconnu par son enseignement de la self défense, mais
    aussi pour ses nombreuses nombreuses arrestations, il pratiqua de nombreux
    sports. Il se consacra finalement à la gymnastique, la lutte et la boxe,
    participant activement pendant dix ans à un grand nombre de compétitions,
    dont il sortit souvent vainqueur principalement en lutte.
  </p>
  <p>
    Lorsque dans les années 1930, le fascisme apparaît, Imi réuni autour de lui
    un groupe de jeunes athlètes qui a pour mission de protéger la communauté
    juive locale, en luttant contre les troupes fascistes. Il prend aussi part à
    de nombreuses bagarres qui le font réfléchir sur les différences entre les
    combats de rue et les compétitions sportives. Les premiers principes du Krav
    Maga étaient nés. De part son action, il devient vite impopulaire auprès des
    autorités locales et doit quitter Bratislava. Son périple dure deux ans, au
    terme duquel il arrive en Israël où il entre à la Haganah (organisation
    paramilitaire de la population juive). Il y enseigne les techniques de base
    de la self défense puis continue ses activités au sein de Tsahal, l'armée
    Israélienne. C'est à la Tsahal, pendant vingt ans , qu'il perfectionne son
    système, tout s'occupant des instructeurs des membres d'unités d'élite de
    l'armée. Plus tard, le Krav Maga, reconnu par le Ministère de l'Education
    Nationale, s'intègre à la vie civile, aussi bien dans les institutions
    privées que publiques. Il se répandit finalement dans le monde entier et il
    est, par exemple, enseigné en Europe et aux Etats-Unis. Le Krav Maga,
    développé par Imi, est fondé sur des valeurs morales et humaines qui
    soulignent l'importance de l'intégrité, de l'humilité et du respect
    d'autrui. Imi Lichtenfeld meurt le 9 janvier 1998 à l'âge de 87 ans.
  </p>
  <p>
    En savoir plus sur la page
    <a href="https://fr.wikipedia.org/wiki/Krav-maga">/wiki/Krav-maga</a>
  </p>
</div>
