<form>
  <table>
    <tr>
      <td class="title" colspan="2">Formulaire d'inscription</td>
    </tr>
    <tr>
      <td class="subtitle" colspan="2">Identifiants</td>
    </tr>
    <tr class="trbkg">
      <td class="label"><label for="email">Email:</label></td>
      <td class="input">
        <input type="email" name="email" />
      </td>
    </tr>
    <tr class="trbkg">
      <td class="label"><label for="password">Mot de passe :</label></td>
      <td class="input">
        <input class="inputbkg" type="password" name="password" />
      </td>
    </tr>
    <tr class="trbkg">
      <td class="label">
        <label for="confirm_password">Confirmer mot de passe :</label>
      </td>
      <td class="input">
        <input type="password" name="confirm_password" />
      </td>
    </tr>
    <tr>
      <td class="subtitle" colspan="2">Profil</td>
    </tr>
    <tr class="trbkg">
      <td class="label tdbkg"><label for="lastName">Nom :</label></td>
      <td class="input tdbkg">
        <input type="text" name="lastName" />
      </td>
    </tr>
    <tr class="trbkg">
      <td class="label tdbkg"><label for="firstName">Prénom :</label></td>
      <td class="input tdbkg">
        <input class="inputbkg" type="text" name="firstName" />
      </td>
    </tr>
    <tr class="trbkg">
      <td class="label"><label for="birthday">Date de naissance :</label></td>
      <td class="input">
        <input type="date" name="birthday" />
      </td>
    </tr>
    <tr class="trbkg">
      <td class="label"><label for="Adress">Adresse :</label></td>
      <td class="input">
        <input class="inputbkg" type="text" name="adress" />
      </td>
    </tr>
    <tr class="trbkg">
      <td class="label"><label for="phone">Téléphone :</label></td>
      <td class="input"><input type="text" name="phone" /></td>
    </tr>
  </table>
</form>
