<div class="titleContainer">
  <div class="imgContainer">
    <a [routerLink]="['main']">
      <img src="../../../assets/images/ABKM.jpg" alt="ABKM" />
    </a>
  </div>
  <div class="title">
    <h2>A.B.K.M</h2>
    <p>Association Belge de Krav Maga</p>
  </div>

  <div class="userInfo" *ngIf="beLogged">
    <a *ngIf="beLogged.authorisationID == 2" [routerLink]="['home-admin']"
      >{{ beLogged.lastName }} {{ beLogged.firstName }}</a
    >
    <a *ngIf="beLogged.authorisationID == 1" [routerLink]="['home-user']"
      >{{ beLogged.lastName }} {{ beLogged.firstName }}</a
    >
  </div>
  <div class="userInfo" *ngIf="!beLogged"></div>
</div>
<div class="menuContainer">
  <div class="menuContent" *ngIf="!isConnected">
    <a [routerLink]="['inscription']"> Inscription </a>
  </div>
  <div class="menuContent" *ngIf="!isConnected">
    <a [routerLink]="['connection']">Connection</a>
  </div>
  <div class="menuContent" *ngIf="isConnected">
    <a href="" *ngIf="isConnected" (click)="LogOut()"> Déconnection </a>
  </div>
  <div class="menuContent">
    <a [routerLink]="['instructor']">Instructeur</a>
  </div>
  <div class="menuContent">
    <a [routerLink]="['stage']">Stage</a>
  </div>
  <div class="menuContent">
    <a [routerLink]="['history']">Histoire</a>
  </div>
</div>
