<div class="displayContainerInstructor">
  <div class="description">
    <img src="../../../assets/images/Photo_Alex.jpg" />
    <p>
      Alex Vanderlinden<br />
      Né le 05 mars 1962.<br />
      Ceinture noire 4ème Dan.<br />
      Directeur technique de l'ABKM.<br />
      Instructeur principal de Krav Maga Performance.<br />
      Instructeur KM Self Defense - KM Fight – KM Police – KM Military<br />
    </p>
  </div>
  <hr />
  <div class="descriptTxt">
    <h4>
      <i class="fas fa-quote-right"></i> Profession
      <i class="fas fa-quote-left"></i>
    </h4>
    <p>
      Sous-Officier au sein de la Défense.<br />
      Maître en éducation physique et sport.<br />
      Chargé de cours: Combat corps à corps à l'Institut Royal Militaire.<br />
      Instructeur spécialisé combat corps à corps et responsable francophone de
      la formation des instructeurs combat corps à corps de la Défense.Formateur
      Self Défense Pro et matraque télescopique à la Défense.<br />
    </p>
  </div>
  <hr />
  <div class="descriptTxt">
    <h4>
      <i class="fas fa-quote-right"></i> Parcours
      <i class="fas fa-quote-left"></i>
    </h4>
    <p>
      Elève de Thierry Viatour.<br />
      Instructeur Combat Rapproché Sans Arme à Feu (Armée Hollandaise).<br />
      Restraint, Arrest techniques Instructor (Armée Anglaise).<br />
      Instructeur Crowd and Riot control (Anti-manifestation).<br />
      Special Forces Combatives Course (Armée Américaine).<br />
      Cours Psychology - Attributes - Tactics - Skill avec R. Redenbach.<br />
      Instructeur et moniteur S.O.G. (Système pour groupes Opérationnels) avec
      O. Pierfedericci.<br />
      Directeur technique Belgique depuis 2005.<br />
      Instructeur 4ème Niveau FFTS (Fédération des Fonctionnaires et Techniciens
      de la Sécurité) avec A. Formaggio.<br />
      Instructeur Self Défense Professionnelle (Self Pro)<br />
      Bâton de Police Télescopique (BPT)<br />
      Tonfa-Pro (BPP)<br />
      Protection rapprochée (PR)<br />
      Président de la FFTS Belgium.<br />
      Formation protection V.I.P. en S.O.G.<br />
      Maître de stage en Italie - Angleterre - France.<br />
    </p>
  </div>
  <hr />
  <div class="descriptTxt">
    <h4>
      <i class="fas fa-quote-right"></i> Pour me contacter
      <i class="fas fa-quote-left"></i>
    </h4>
    <p>
      Email:<a href="mailto:alexvdlkrav@hotmail.com"> alexvdlkrav@hotmail.com</a
      ><br />
      GSM: 0476/ 21.80.19<br />
      Fixe: 04/ 355.34.73<br />
    </p>
  </div>
  <hr />
  <div class="descriptTxt">
    <h4>
      <i class="fas fa-quote-right"></i> Personnel
      <i class="fas fa-quote-left"></i>
    </h4>
    <p>
      Je me caractérise par un grand esprit d'ouverture.<br />
      J'ai appris et apprends de multiples grands professeurs de Krav Maga (A.
      Formaggio, R. Douïeb, Th. Viatour, G. Noah, D. Levine, J. Withman, Guidon,
      Ph. Kaddouch, N. Elkebar).<br />
      J'ai exploré et continue d'explorer dans d'autres directions chez F.
      Maestro, R. Redenbach, O. Pierfedericci, F. Perrin, ...<br />
      Et malgré tout ce travail je me sens très loin d'Alex l'invincible ou de
      superman.<br />
      Malgré 25 ans d'expérience dans l'enseignement, j'apprends journellement
      de mes élèves et j'aime me remettre en question pour améliorer
      l'enseignement que je dispense.<br />
    </p>
  </div>
  <hr />
</div>
