<table *ngIf="member">
  <tr>
    <td colspan="2" class="title">Mon profil</td>
  </tr>
  <tr>
    <td class="label bkg">Email :</td>
    <td class="bkg">{{ member.email }}</td>
  </tr>
  <tr>
    <td class="label">Nom :</td>
    <td>{{ member.lastName }}</td>
  </tr>
  <tr>
    <td class="label bkg">Prénom</td>
    <td class="bkg">{{ member.firstName }}</td>
  </tr>
  <tr>
    <td class="label">Adresse</td>
    <td>{{ member.adress }}</td>
  </tr>
  <tr>
    <td class="label bkg">Téléphone</td>
    <td class="bkg">{{ member.phone }}</td>
  </tr>
  <tr>
    <td class="label">Date de Naissance</td>
    <td>{{ member.birthDay | date: "d/MM/yyyy" }}</td>
  </tr>
</table>
